/* Bootstrap */
@import url("../bootstrap/css/bootstrap.css");
@import url("../lightbox/css/lightbox.css");
@import "_variables";



/* Original Styles */

body{
	margin-top:80px;
		background: url(../assets/background_body.jpg) repeat top right;
	}

p{
  font-size: 16px;
  line-height: 1.4;
  color: $gray;
}

ul{
  font-size: 18px;
  line-height: 1.4;
  color: $gray;
}

ul li{
	padding-bottom:10px;
}

h1{
	color: $green1;
	padding: 30px 0 0 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 34px;
	line-height: 1.2;
	font-weight:bold;
}

h2{
	color:#669966;
	margin-top:40px;
	margin-bottom:20px;
}

h3{
	font-family: Helvetica, Arial, sans-serif;
	color: $green1;
	padding: 10px 0 0 0;
	margin: 0 0 0 0;
}

label{
	display:block;
}

img.headshot {
	width: 160px;
	height: 160px;
	margin-right: 20px;
	margin-bottom: 10px;
	float:left;
}

span.highlight {
	color: $green1;
}
span.highlight2 {
	color: $orange;
}
span.highlight3 {
	color: $orange;
	font-size: larger;
}

a.fade_all {
	text-decoration: none;
	transition: .4s;
	-o-transition: .4s;
	-ms-transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;

	&:hover,&:active,&:focus{
		text-decoration: none;
		transition: .4s;
		-o-transition: .4s;
		-ms-transition: .4s;
		-moz-transition: .4s;
		-webkit-transition: .4s;		
	}
}

a.fade_1{
	color:$green1;
	font-weight:bold;

	&:hover,&:active,&:focus{
		color: $orange;
	}
}
a.fade_2{
	color:$green1;
	
	&:hover,&:active,&:focus{
		color: $orange;
	}
}
a.fade_3{
	color:#4875b4;
	font-weight:bold;

	&:hover,&:active,&:focus{
	color: $orange;
	}
}
a.fade_4{
	color:$orange;
	font-weight:bold;

	&:hover,&:active,&:focus{
	color: #ffbf88;
	}
}



/* Margins, borders */
.margin-top-40{
	margin-top:40px;
}
.margin-bottom-20{
	margin-bottom:20px;
}
.margin-bottom-40{
	margin-bottom:40px;
}
.margin-bottom-60{
	margin-bottom:60px;
}
.margin-bottom-80{
	margin-bottom:60px;
}
.border-green{
	border:solid 2px $green1;

	&:hover,&:focus,&:active{
		border:solid 2px $orange;
	}
}



/* Anchors */
a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -80px;
}

	img.logo{
	width:280px;
	height:auto;
	margin-bottom:10px;
	transform: scale(1);
  	transition: transform .2s ease;

  	&:hover,&:focus{
  		transform: scale(0.98);
  	}
}



.banner{
	font-size: 22px;
	line-height: 1.4;
	color: $banner-grey1;
	padding-top: 20px;
	padding-bottom: 15px;
}

.banner-top{
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
	font-style: italic;
	background: $banner-grey2;
	box-shadow: 0 5px 5px #888888;
}

.banner-bottom{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	font-style: italic;
	background: $banner-grey2;
	box-shadow: 0 -5px 5px #888888;
}

img.sample_image{
	width:100%;
	height:auto;
	transform: scale(1);
	transition: transform .2s ease;

	&:hover,&:focus,&:active{
		transform: scale(0.98);
	}
}

.samples_paragraph{
	margin-top:5px;
	font-size:16px;
	line-height:1.4;
}


img.illustration{
	width:100%;
	height:auto;
}

footer{
	background-image:linear-gradient($green1, $green2);
	background-color: $green1;
	border-top: solid 5px $orange;
	overflow: auto;
	padding: 40px 0 40px 0;
}

.footer_text{
	padding: 0 40px 0 40px;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
    color: $white;
}



/* CONTACT FORM */

#contact_form{

    form {
        width: 100%;
        margin-top:30px;
        margin-bottom: 60px;
    }

    .form_row {
        margin-bottom: 15px;
    }

    input,
    textarea {
        font-family: indexCustom, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 28px;
        color: #4b4b4b;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border:solid 1px #aaaaaa;
        margin-left:0;
            
            &:focus{
            border: solid 4px $green1;
            outline: none;
            padding-left:5px;
            }

    }

    input {
        width: 100%;

    }

    textarea {
        width: 100%;
        height: 150px;
    }

    .button_row input {
        width: 70%;
        height: 50px;
        background:$green1;
        color:$white;
        box-shadow:.5px .5px 3px #888888;
        transition: .2s;
        -o-transition: .2s;
        -ms-transition: .2s;
        -moz-transition: .2s;
        -webkit-transition: .2s;
    

        &:hover,
        &:active {
        width: 70%;
        height: 48px;
        margin-top:2px;
        box-shadow:none;
        transition: .2s;
        -o-transition: .2s;
        -ms-transition: .2s;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        }

	}

}



/* Contact Form - validation */
#name_validation,
#email_validation,
#message_validation {
margin-bottom: 5px;
font-size: 20px;
line-height: 1.2;
color: $green1;
font-weight: bold;
display: block; }

#form_validated {
margin-top: 15px;
font-size: 24px;
line-height: 1.2;
color: $green1;
font-weight: bold;
display: none; }



/* Original Styles - Mobile */
@media (max-width: 767px) {

		/* Margins, borders */
		.margin-bottom-20-mb{
			margin-bottom:20px;
		}
		.margin-bottom-40-mb{
			margin-bottom:40px;
		}
		.margin-bottom-60-mb{
			margin-bottom:60px;
		}

		.footer_text{
		font-size:14px;
	}

	img.headshot {
		width: 120px;
		height: 120px;
		margin-right: 15px;
		margin-bottom: 5px;
	}

	a.anchor {
		top: -140px;
	}

	img.sample_image{
		width:180px;
		height:auto;
	}
   	img.illustration{
   		width:100%;
   		height:auto;
   	}
}



/* Bootstrap Overwrites */

.navbar{
	background-image:linear-gradient($green2, $green1);
	background-color:$green1;
	border-bottom: solid 5px $orange;
}

.nav{
	float:right;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: $green2;
}

.navbar-collapse {
	border:0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}


#navbar-collapse li a{
	color: $white;
	text-decoration:none;
	font-size: 18px;
	line-height:1.2;
	background-color:transparent;
	transition: .4s;
	-o-transition: .4s;
	-ms-transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
}

#navbar-collapse li a:visited{
	color: $white;
	text-decoration:none;
	background-color:transparent;
}

#navbar-collapse li a:hover,
#navbar-collapse li a:focus,
#navbar-collapse li a:active{
	color: $orange;
	text-decoration:none;
	background-color:transparent;
	transition: .4s;
	-o-transition: .4s;
	-ms-transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
}



/* Bootstrap Overwrites - MOBILE */ 
@media (max-width: 767px) {
	.nav{
		text-align:right;
	}

	#navbar-collapse li a{
		color: $white;
		text-decoration:none;
		font-size: 12px;
		line-height:1;
	}

	.logo{
		margin-top:10px;
		margin-left:10px;
		width:250px;
		height:auto;
	}

	.banner{
		margin-top:-25px;
		font-size:20px;
		padding-left:0;
	}
}