/* Bootstrap */
@import url("../bootstrap/css/bootstrap.css");
/* Original Styles */
body {
  margin-top: 80px;
  background: url(../assets/background_body.jpg) repeat top right; }

p {
  font-size: 16px;
  line-height: 1.4;
  color: #4b4b4b; }

h1 {
  color: #669966;
  padding: 30px 0 0 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: bold; }

h3 {
  font-family: Helvetica, Arial, sans-serif;
  color: #669966;
  padding: 10px 0 0 0;
  margin: 0 0 0 0; }

label {
  display: block; }

img.headshot {
  width: 160px;
  height: 160px;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left; }

span.highlight {
  color: #669966; }

span.highlight2 {
  color: #f4a460; }

span.highlight3 {
  color: #f4a460;
  font-size: larger; }

a.fade_custom {
  color: #669966;
  font-weight: bold;
  text-decoration: none;
  transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s; }

a.fade_custom:hover {
  color: #f4a460;
  text-decoration: none;
  transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s; }

a.LinkedIn {
  color: #4875b4;
  text-decoration: none;
  font-weight: bold;
  transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s; }

a.LinkedIn:hover {
  color: #f4a460;
  text-decoration: none;
  transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s; }

/* Margins, borders */
.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.margin-bottom-60 {
  margin-bottom: 60px; }

.border-green {
  border: solid 2px #669966; }
  .border-green:hover, .border-green:focus, .border-green:active {
    border: solid 2px #f4a460; }

/* Anchors */
a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -80px; }

img.logo {
  width: 280px;
  height: auto;
  margin-bottom: 10px;
  transform: scale(1);
  transition: transform .2s ease; }
  img.logo:hover, img.logo:focus {
    transform: scale(0.98); }

.banner {
  font-size: 22px;
  line-height: 1.4;
  color: #606060;
  padding-top: 20px;
  padding-bottom: 15px; }

.banner-top {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  background: #e8e8e8;
  box-shadow: 0 5px 5px #888888; }

.banner-bottom {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-style: italic;
  background: #e8e8e8;
  box-shadow: 0 -5px 5px #888888; }

img.sample_image {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: transform .2s ease; }
  img.sample_image:hover, img.sample_image:focus, img.sample_image:active {
    transform: scale(0.98); }

.samples_paragraph {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.4; }

img.illustration {
  width: 100%;
  height: auto; }

footer {
  background-image: linear-gradient(#669966, #478047);
  background-color: #669966;
  border-top: solid 5px #f4a460;
  overflow: auto;
  padding: 40px 0 40px 0; }

.footer_text {
  padding: 0 40px 0 40px;
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
  color: #ffffff; }

/* CONTACT FORM */
#contact_form form {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 100px; }
#contact_form .form_row {
  margin-bottom: 15px; }
#contact_form input,
#contact_form textarea {
  font-family: indexCustom, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #4b4b4b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #aaaaaa;
  margin-left: 0; }
  #contact_form input:focus,
  #contact_form textarea:focus {
    border: solid 4px #669966;
    outline: none;
    padding-left: 5px; }
#contact_form input {
  width: 100%; }
#contact_form textarea {
  width: 100%;
  height: 150px; }
#contact_form .button_row input {
  width: 70%;
  height: 50px;
  background: #669966;
  color: #ffffff;
  box-shadow: .5px .5px 3px #888888;
  transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s; }
  #contact_form .button_row input:hover, #contact_form .button_row input:active {
    width: 70%;
    height: 48px;
    margin-top: 2px;
    box-shadow: none;
    transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s; }

/* Contact Form - validation */
#name_validation,
#email_validation,
#message_validation {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 1.2;
  color: #669966;
  font-weight: bold;
  display: block; }

#form_validated {
  margin-top: 15px;
  font-size: 24px;
  line-height: 1.2;
  color: #669966;
  font-weight: bold;
  display: none; }

/* Original Styles - Mobile */
@media (max-width: 767px) {
  /* Margins, borders */
  .margin-bottom-20-mb {
    margin-bottom: 20px; }

  .margin-bottom-40-mb {
    margin-bottom: 40px; }

  .margin-bottom-60-mb {
    margin-bottom: 60px; }

  .footer_text {
    font-size: 14px; }

  img.headshot {
    width: 120px;
    height: 120px;
    margin-right: 15px;
    margin-bottom: 5px; }

  a.anchor {
    top: -140px; }

  img.sample_image {
    width: 180px;
    height: auto; }

  img.illustration {
    width: 100%;
    height: auto; } }
/* Bootstrap Overwrites */
.navbar {
  background-image: linear-gradient(#478047, #669966);
  background-color: #669966;
  border-bottom: solid 5px #f4a460; }

.nav {
  float: right; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #478047; }

.navbar-collapse {
  border: 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

#navbar-collapse li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  background-color: transparent;
  transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s; }

#navbar-collapse li a:visited {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent; }

#navbar-collapse li a:hover,
#navbar-collapse li a:focus,
#navbar-collapse li a:active {
  color: #f4a460;
  text-decoration: none;
  background-color: transparent;
  transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s; }

/* Bootstrap Overwrites - MOBILE */
@media (max-width: 767px) {
  .nav {
    float: left; }

  #navbar-collapse li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    line-height: 1; }

  .logo {
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    height: auto; }

  .banner {
    margin-top: -25px;
    font-size: 20px;
    padding-left: 0; } }

/*# sourceMappingURL=main.css.map */
