@import "_variables";
@import "_universal";





header {
    background: url(../assets/background_green.jpg) repeat top right;
    width: 100%;
    padding-top: 10px;
    border-bottom: solid 5px #f4a460;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;


        #header_container {
        width: 900px;
        margin: 0px auto;
        
            #logo {
            float: left;
            }
            #logo img {
            transform: scale(1);
            transition: transform .2s ease;

                &:hover, &:focus {
                transform: scale(.98);
                transition: transform .2s ease;
                }

            }
        }
        

        nav {
        float: right;
        
            ul {
            padding: 60px 0 0 0;

                li {
                list-style-type: none;
                padding: 0 0 0 30px;
                display: inline;
                text-align: center;
                }
                a {
                color: $white;
                text-decoration: none;
                font-size: 20px;
                transition: .4s;
                -o-transition: .4s;
                -ms-transition: .4s;
                -moz-transition: .4s;
                -webkit-transition: .4s;

                    &:visited {
                    color: $white;
                    text-decoration: none;
                    }

                    &:hover {
                    color: #f4a460;
                    text-decoration: none;
                    transition: .4s;
                    -o-transition: .4s;
                    -ms-transition: .4s;
                    -moz-transition: .4s;
                    -webkit-transition: .4s;
                    }

                }

            }
            

        }

}






#main {
    background: #e7e9e8;
    background: url(../assets/background_body.jpg) repeat top right;
    width: 100%;
    overflow: auto;
    border-bottom: solid 5px #f4a460;
    margin-top: 130px;

        #container {
            width: 900px;
            margin: 0 auto;
        }

}






/* BANNERS */

p#banner {
    font-size: 22px;
    line-height: 32px;
    color: $banner-grey1;
    margin-top: 0;
    margin-bottom: 60px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    font-style: italic;
    background: $banner-grey2;
    box-shadow: 0 5px 5px #888888;
}
p#banner2 {
    font-size: 22px;
    line-height: 32px;
    color: $banner-grey1;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    font-style: italic;
    background: $banner-grey2;
    box-shadow: 0 -5px 5px #888888;
}



img.headshot {
    width: 160px;
    height: 160px;
    margin-right: 20px;
    margin-bottom: 10px;
}






/* Samples */

#samples {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;

        div.box {
            display: inline;
        }
        div.box img {
            width: 24%;
            height: auto;
            transform: scale(1);
            transition: transform .2s ease;

                &:hover,
                &:active {
                transform: scale(.98);
                transition: transform .2s ease;
                }

        }

}






footer {
    background: #75a375;
    background: url(../assets/background_green.jpg) repeat top right;
    width: 100%;
    overflow: auto;
    margin: 0 auto;
    padding: 40px 0 80px 0;

        #footer_text {
        padding: 0 40px 0 40px;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        color: $white;
        }

}





/* Anchor styles */

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -120px;
}

a.anchor_top {
    display: block;
    position: relative;
    visibility: hidden;
    top: -200px;
}





/* CONTACT FORM */

#contact_form{

    form {
        width: 400px;
        margin-top:30px;
        margin-bottom: 100px;
    }
    .form_row {
        margin-bottom: 15px;
    }
    input,
    textarea {
        font-family: indexCustom, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 28px;
        color: #4b4b4b;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border:solid 1px #aaaaaa;
    }
    input {
        width: 380px;

            &:focus{
            border: solid 4px $green;
            outline: none;
            }

    }
    textarea {
        width: 380px;
        height: 150px;

            &:focus{
            border: solid 4px $green;
            outline: none;
            }
    }

    .button_row input {
        width: 240px;
        height: 50px;
        background:$green;
        color:$white;
        box-shadow:.5px .5px 3px #888888;
        transition: .2s;
        -o-transition: .2s;
        -ms-transition: .2s;
        -moz-transition: .2s;
        -webkit-transition: .2s;
    

            &:hover,
            &:active {
            width: 240px;
            height: 48px;
            margin-top:2px;
            box-shadow:none;
            transition: .2s;
            -o-transition: .2s;
            -ms-transition: .2s;
            -moz-transition: .2s;
            -webkit-transition: .2s;
            }

}

}






/* Contact Form - validation */

#name_validation,
#email_validation,
#message_validation{
    margin-bottom:5px;
    font-size:20px;
    line-height:24px;
    color:$green;
    font-weight:bold;
    display:block;
    }
#form_validated{
    margin-top:15px;
    font-size:24px;
    line-height:28px;
    color:$green;
    font-weight:bold;
    display:none;
    } 






/* ILLUSTRATIONS */

#illustrations {
    margin-bottom:80px;

        div.box_ai {
        display: inline;
        }
        div.box_ai img {
        border:solid 3px $green;
        padding:10px;
        margin:5px;
        width: 44%;
        height: auto;
        }
}

/* END ILLUSTRATIONS */






/* MOBILE STYLES - MOBILE STYLES - MOBILE STYLES - MOBILE STYLES */
@import "_mobile";

